/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Merriweather", serif;
  font-size: 62.5%;
  line-height: 2.5rem;
}

a {
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  font-size: 1.5rem;
  background-color: #333333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

.nav__logo {
  font-family: "Caveat", cursive;
  font-size: 3rem;
}

.nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.nav .nav__links li a {
  color: #ffffff;
  font-weight: 700;
  padding: 1rem;
  margin: 0 0.25rem;
}

.nav .nav__links li a:hover {
  background-color: rgba(81, 255, 0, 0.801);
  border-radius: 1rem;
}

.green {
  color: #51ff00;
}

.white {
  color: #ffffff;
}

.header {
  width: 100%;
  height: 90vh;
  background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
  color: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__container--heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
}

.header__container--text {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}

.header__container--btn {
  color: #ffffff;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: #46ad16;
  border: none;
  border-radius: 1rem;
}

.header__container--btn:hover {
  background-color: #274b16;
}

.what__section {
  max-width: 100%;
  height: 50vh;
  margin-top: 3rem;
}

.what__section__container {
  max-width: 1100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.what__section__container--title {
  font-size: 3rem;
}

.what__section__container__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
}

.what__section__container__items--item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 1rem;
}

.what__section__container__items--item--heading {
  font-size: 2rem;
}

.what__section__container__items--item i {
  background-color: #51ff00;
  padding: 2rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.what__section__container__items--item p {
  font-size: 1.5rem;
}

.who__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.3rem;
  background-color: #333333;
  color: #ffffff;
}

.who__section--image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: url(../img/people.jpg) no-repeat center center/cover;
}

.who__section__text {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
}

.who__section__text--title {
  font-size: 3rem;
}

.who__section__text p {
  font-size: 1.5rem;
}

.who__section__text h3 {
  font-size: 2rem;
}

.who__section__text__team {
  margin: 1.5rem 0 0 0;
  list-style: none;
}

.who__section__text__team--member {
  font-size: 1.3rem;
  font-weight: bolder;
}

.who__section__text__team--member:last-child {
  margin-bottom: -2rem;
}
/*# sourceMappingURL=style.css.map */