.what__section {
  height: 30rem;
  &__container__items {
    &--item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      i {
        margin-right: 1.3rem;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 0;
      }
    }
  }

  #map {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }

  .leaflet-container {
    width: 100%;
  }
}
